.collection-page {
    margin-top: 30px;
    overflow: scroll;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 20%);
    align-items: start;
    margin-left: 30px;
    height: 96.5%;

    &__image {
        // width: 240px;
        height: 155px;
        margin-bottom: 10px;
    }

    &__image-box {
        padding: 10px;
        border: 1px solid black;
        display: inline-block;
        margin: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    &__button {
        height: 30px;
    }
}