.search-result-page {
    margin-top: 30px;
    height: 750px;
    overflow: scroll;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 20%);
    align-items: start;

    &__image {
        // width: 240px;
        height: 155px;
        margin-bottom: 10px;
    }

    &__image-box {
        padding: 10px;
        border: 1px solid black;
        display: inline-block;
        margin: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    &__button {
        height: 30px;
        border: none;
        border-radius: 5px;
    }

    &__button:hover {
        background-color: rgb(224, 219, 219);
        box-shadow: 0 2px 20px rgba(black,.2);
    }
}
