.search-result-page {
    height: 78.5%;
}

.search-result-page__pagination {
    text-align: end;
    margin: 30px 45px 0 0;

    &_button {
        // height: 30px;
        font-size: 10px;
    }
}

.search-result-page__images {
    margin-top: 30px;
    overflow: scroll;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 20%);
    align-items: start;
    height: 100%;

    &_image {
        height: 155px;
        margin-bottom: 10px;
    }

    &_image-box {
        padding: 10px;
        border: 1px solid black;
        display: inline-block;
        margin: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    &_button {
        height: 30px;
        border: none;
        border-radius: 5px;
    }

    &_button:hover {
        background-color: rgb(224, 219, 219);
        box-shadow: 0 2px 20px rgba(black,.2);
    }

    &_input {
        margin-top: 10px;
        border-radius: 3px;
    }
}
